// Error messages
.errors {
  margin-top: 10px;
  margin-left: 15px;
}

// Table display
.table > tbody > tr > td {
  vertical-align: middle;
}

// Posts
.post .btn {
  display: block;
  margin-top: 20px;
}

.comments img {
  width: 100%;
}

// Pagination
#pagination-container {
  text-align: center;
}

// Footer
footer {
  text-align: center;
  height: 60px;
  padding-top: 20px;
  margin-top: 30px;
}
