//GENERAL STYLES
// Error messages
.errors {
  margin-top: 10px;
  margin-left: 15px;
}

// Prevent textarea expanding outside parent
textarea.form-control {
    max-width: 100%;
}

// Table display
.table > tbody > tr > td {
  vertical-align: middle;
}

// Posts
.post .btn {
  display: block;
  margin-top: 20px;
}

.comments img {
  width: 100%;
}

.page-title {
  padding-bottom: 9px;
  border-bottom: 1px solid #eeeeee;
}

.post-meta {
  margin-bottom: 10px;
}

.post-image {
  margin-bottom: 20px;
}

.post-body {

}

// Pagination
#pagination-container {
  text-align: center;
}

// Footer
footer {
  text-align: center;
  height: 60px;
  padding-top: 20px;
  margin-top: 30px;
}
